body {
	background-color: #f4f4f4 !important;
}

.flex-container {
	display: flex;
	height: 300px;
	justify-content: center;
	align-items: center;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 650px;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
}

/* Column container */
.Wrapper {
	display: flex;
	flex-wrap: wrap;
}

.Main {
	flex: 80%;
	flex-direction: row-reverse;
	background-color: white;
	padding: 20px;
}
.SlideRight {
	flex: 20%;
	background-color: #f1f1f1;
	padding: 20px;
}

.Product {
	flex: 25%;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

.Footer {
	margin-bottom: 0px;
	width: 100%;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 700px) {
	.Wrapper,
	.Navbar {
		flex-direction: column;
	}
}
