body {
	background-color: #f4f4f4 !important;
}

.container {
	width: 100%;
}
.margin100 {
	margin-top: 100px;
	margin-bottom: 100px;
}

.HeaderText {
	margin-bottom: -10px;
	margin-left: 15px;
	color: #7d7b7b;
	text-align: center;
}
.HeaderText2 {
	color: #7d7b7b;
	text-align: center;
}
nav {
	color: #7d7b7b;
	background-color: #fff;
}
nav .brand-logo {
	height: 75px;
}
nav ul a {
	color: #7d7b7b;
}
nav ul a:hover {
	background-color: rgba(0, 0, 0, 0.1);
	color: #ff6a00;
}

nav .brand-logo {
	position: absolute;
	color: #ff6a00;
	display: inline-block;
	font-size: 2.1rem;
	padding: 0 0 0 15px;
}

.secondary-nav {
	display: block;
	min-height: 50px;
}
.secondary-nav ul {
	display: block;
	min-height: 50px;
}

.secondary-nav ul li {
	display: inline-block;
	min-height: 50px;
	line-height: 50px;
	padding: 8px;
	color: #7d7b7b;
	text-align: center;

	text-align: left;
}
.secondary-nav ul li a {
	display: inline-block;
	min-height: 50px;
	color: #7d7b7b;
	text-align: center;
}

.secondary-nav ul li a:hover {
	color: #ff6a00;
}
.slick-dots {
	bottom: 20px;
}

.carousel {
	height: 240px !important;
}
.Banner {
	width: 100%;
	height: 75px;
	margin-top: -15px;
	margin-bottom: 80px;
}

.Trend {
	display: block;
	min-height: 1px;
	border: 1px solid #e6e8e8;
	margin-top: 20px;
	color: #7d7b7b;
}

.Trend h5,
h6 {
	margin-top: 6px;
	margin-bottom: 6px;
}
.Trend h6 {
	margin-top: 5px;
	margin-bottom: 18px;
}

.row .col {
	padding: 0.45rem;
}

.slide {
	background: #ecebeb00 !important;
}

.ShopBySports {
	width: 100%;
	height: 350px;
	display: inline-block;
	background-image: url('/assets/images/Footwear_Boys.jpg');
	background-repeat: no-repeat;
	text-align: center;
}

.Footer {
	margin-bottom: 0px;
	width: 100%;
}

.page-footer {
	margin-top: 100px;
	padding-top: 20px;
	color: #fff;
	background-color: #2bbbad;
}
.Price {
	line-height: 16px;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}

.Text-Normal {
	line-height: 12px;
	font-size: 12px;
	color: #807b7b;
	font-weight: 300;
}

.card .card-content .card-title {
	display: block;
	line-height: 19px;
	margin-bottom: 8px;
}
.card .card-title {
	font-size: 14px;
	font-weight: 300;
}
.grey-text.text-darken-4 {
	color: #333 !important;
}
.white-text {
	margin-bottom: -10px;
}
@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 700px) {
	.Wrapper,
	.Navbar {
		flex-direction: column;
	}
}

@media screen and (max-width: 499px) {
	.Banner {
		display: none;
	}
}
