.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;
  .title {
    margin: 10px 0;
  }
  .uper-case {
    text-transform: uppercase;
  }
}
@media only screen and (max-width: 600px) {
  .sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 260px;
    .title {
      margin: 10px 0;
    }
  }
}
