body {
  margin: 0;
  padding: 15px;
  font-family: "Roboto", "Noto Sans", "Roboto Slab", "Roboto Condensed",
    "Helvetica", "Open Sans", sans-serif;
  background-color: rgba(238, 238, 238, 0.4);
}

a {
  text-decoration: none;
  color: #03a9f4;
}

.fontFamily {
  font-family: "Noto Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Roboto Slab", serif;
}
