nav {
	color: #fff;
	background-color: #ee6e73;
	width: 100%;
	height: 56px;
	line-height: 56px;
}

nav.nav-extended {
	height: auto;
}

nav.nav-extended .nav-wrapper {
	min-height: 56px;
	height: auto;
}

nav.nav-extended .nav-content {
	position: relative;
	line-height: normal;
}

nav a {
	color: #fff;
}

nav i,
nav [class^='mdi-'],
nav [class*='mdi-'],
nav i.material-icons {
	display: block;
	font-size: 24px;
	height: 56px;
	line-height: 56px;
}

nav .nav-wrapper {
	position: relative;
	height: 100%;
}

@media only screen and (min-width: 993px) {
	nav a.sidenav-trigger {
		display: none;
	}
}

nav .sidenav-trigger {
	float: left;
	position: relative;
	z-index: 1;
	height: 56px;
	margin: 0 18px;
}

nav .sidenav-trigger i {
	height: 56px;
	line-height: 56px;
}

nav .brand-logo {
	position: absolute;
	color: #fff;
	display: inline-block;
	font-size: 2.1rem;
	padding: 0;
}

nav .brand-logo.center {
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

@media only screen and (max-width: 992px) {
	nav .brand-logo {
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	nav .brand-logo.left,
	nav .brand-logo.right {
		padding: 0;
		-webkit-transform: none;
		transform: none;
	}
	nav .brand-logo.left {
		left: 0.5rem;
	}
	nav .brand-logo.right {
		right: 0.5rem;
		left: auto;
	}
}

nav .brand-logo.right {
	right: 0.5rem;
	padding: 0;
}

nav .brand-logo i,
nav .brand-logo [class^='mdi-'],
nav .brand-logo [class*='mdi-'],
nav .brand-logo i.material-icons {
	float: left;
	margin-right: 15px;
}

nav .nav-title {
	display: inline-block;
	font-size: 32px;
	padding: 28px 0;
}

nav ul {
	margin: 0;
}

nav ul li {
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
	float: left;
	padding: 0;
}

nav ul li.active {
	background-color: rgba(0, 0, 0, 0.1);
}

nav ul a {
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
	font-size: 1rem;
	color: #fff;
	display: block;
	padding: 0 15px;
	cursor: pointer;
}

nav ul a.btn,
nav ul a.btn-large,
nav ul a.btn-small,
nav ul a.btn-large,
nav ul a.btn-flat,
nav ul a.btn-floating {
	margin-top: -2px;
	margin-left: 15px;
	margin-right: 15px;
}

nav ul a.btn > .material-icons,
nav ul a.btn-large > .material-icons,
nav ul a.btn-small > .material-icons,
nav ul a.btn-large > .material-icons,
nav ul a.btn-flat > .material-icons,
nav ul a.btn-floating > .material-icons {
	height: inherit;
	line-height: inherit;
}

nav ul a:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

nav ul.left {
	float: left;
}

nav form {
	height: 100%;
}

nav .input-field {
	margin: 0;
	height: 100%;
}

nav .input-field input {
	height: 100%;
	font-size: 1.2rem;
	border: none;
	padding-left: 2rem;
}

nav .input-field input:focus,
nav .input-field input[type='text']:valid,
nav .input-field input[type='password']:valid,
nav .input-field input[type='email']:valid,
nav .input-field input[type='url']:valid,
nav .input-field input[type='date']:valid {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

nav .input-field label {
	top: 0;
	left: 0;
}

nav .input-field label i {
	color: rgba(255, 255, 255, 0.7);
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

nav .input-field label.active i {
	color: #fff;
}

.navbar-fixed {
	position: relative;
	height: 56px;
	z-index: 997;
}

.navbar-fixed nav {
	position: fixed;
}

@media only screen and (min-width: 601px) {
	nav.nav-extended .nav-wrapper {
		min-height: 64px;
	}
	nav,
	nav .nav-wrapper i,
	nav a.sidenav-trigger,
	nav a.sidenav-trigger i {
		height: 64px;
		line-height: 64px;
	}
	.navbar-fixed {
		height: 64px;
	}
}

a {
	text-decoration: none;
}

.sidenav {
	position: fixed;
	width: 300px;
	left: 0;
	top: 0;
	margin: 0;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	height: 100%;
	height: calc(100% + 60px);
	height: -moz-calc(100%);
	padding-bottom: 60px;
	background-color: #fff;
	z-index: 999;
	overflow-y: auto;
	will-change: transform;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-105%);
	transform: translateX(-105%);
}

.sidenav.right-aligned {
	right: 0;
	-webkit-transform: translateX(105%);
	transform: translateX(105%);
	left: auto;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.sidenav .collapsible {
	margin: 0;
}

.sidenav li {
	float: none;
	line-height: 48px;
}

.sidenav li.active {
	background-color: rgba(0, 0, 0, 0.05);
}

.sidenav li > a {
	color: rgba(0, 0, 0, 0.87);
	display: block;
	font-size: 14px;
	font-weight: 500;
	height: 48px;
	line-height: 48px;
	padding: 0 32px;
}

.sidenav li > a:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.sidenav li > a.btn,
.sidenav li > a.btn-large,
.sidenav li > a.btn-small,
.sidenav li > a.btn-large,
.sidenav li > a.btn-flat,
.sidenav li > a.btn-floating {
	margin: 10px 15px;
}

.sidenav li > a.btn,
.sidenav li > a.btn-large,
.sidenav li > a.btn-small,
.sidenav li > a.btn-large,
.sidenav li > a.btn-floating {
	color: #fff;
}

.sidenav li > a.btn-flat {
	color: #343434;
}

.sidenav li > a.btn:hover,
.sidenav li > a.btn-large:hover,
.sidenav li > a.btn-small:hover,
.sidenav li > a.btn-large:hover {
	background-color: #2bbbad;
}

.sidenav li > a.btn-floating:hover {
	background-color: #26a69a;
}

.sidenav li > a > i,
.sidenav li > a > [class^='mdi-'],
.sidenav li > a li > a > [class*='mdi-'],
.sidenav li > a > i.material-icons {
	float: left;
	height: 48px;
	line-height: 48px;
	margin: 0 32px 0 0;
	width: 24px;
	color: rgba(0, 0, 0, 0.54);
}

.sidenav .divider {
	margin: 8px 0 0 0;
}

.sidenav .subheader {
	cursor: initial;
	pointer-events: none;
	color: rgba(0, 0, 0, 0.54);
	font-size: 14px;
	font-weight: 500;
	line-height: 48px;
}

.sidenav .subheader:hover {
	background-color: transparent;
}

.sidenav .user-view {
	position: relative;
	padding: 32px 32px 0;
	margin-bottom: 8px;
}

.sidenav .user-view > a {
	height: auto;
	padding: 0;
}

.sidenav .user-view > a:hover {
	background-color: transparent;
}

.sidenav .user-view .background {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.sidenav .user-view .circle,
.sidenav .user-view .name,
.sidenav .user-view .email {
	display: block;
}

.sidenav .user-view .circle {
	height: 64px;
	width: 64px;
}

.sidenav .user-view .name,
.sidenav .user-view .email {
	font-size: 14px;
	line-height: 24px;
}

.sidenav .user-view .name {
	margin-top: 16px;
	font-weight: 500;
}

.sidenav .user-view .email {
	padding-bottom: 16px;
	font-weight: 400;
}

.drag-target {
	height: 100%;
	width: 10px;
	position: fixed;
	top: 0;
	z-index: 998;
}

.drag-target.right-aligned {
	right: 0;
}

.sidenav.sidenav-fixed {
	left: 0;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	position: fixed;
}

.sidenav.sidenav-fixed.right-aligned {
	right: 0;
	left: auto;
}

@media only screen and (max-width: 992px) {
	.sidenav.sidenav-fixed {
		-webkit-transform: translateX(-105%);
		transform: translateX(-105%);
	}
	.sidenav.sidenav-fixed.right-aligned {
		-webkit-transform: translateX(105%);
		transform: translateX(105%);
	}
	.sidenav > a {
		padding: 0 16px;
	}
	.sidenav .user-view {
		padding: 16px 16px 0;
	}
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
	background-color: #ee6e73;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a {
	color: #fff;
}

.sidenav .collapsible-body {
	padding: 0;
}

.sidenav-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	height: 120vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 997;
	display: none;
}
.backdrop {
	position: absolute;
	opacity: 0;
	height: 7px;
	width: 14px;
	border-radius: 0 0 50% 50%;
	background-color: #323232;
	z-index: -1;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	visibility: hidden;
}

.collapsible {
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	margin: 0.5rem 0 1rem 0;
}

.collapsible-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	line-height: 1.5;
	padding: 1rem;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

.collapsible-header:focus {
	outline: 0;
}

.collapsible-header i {
	width: 2rem;
	font-size: 1.6rem;
	display: inline-block;
	text-align: center;
	margin-right: 1rem;
}

.keyboard-focused .collapsible-header:focus {
	background-color: #eee;
}

.collapsible-body {
	display: none;
	border-bottom: 1px solid #ddd;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 2rem;
}

.sidenav .collapsible,
.sidenav.fixed .collapsible {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.sidenav .collapsible li,
.sidenav.fixed .collapsible li {
	padding: 0;
}

.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
	background-color: transparent;
	border: none;
	line-height: inherit;
	height: inherit;
	padding: 0 16px;
}

.sidenav .collapsible-header:hover,
.sidenav.fixed .collapsible-header:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.sidenav .collapsible-header i,
.sidenav.fixed .collapsible-header i {
	line-height: inherit;
}

.sidenav .collapsible-body,
.sidenav.fixed .collapsible-body {
	border: 0;
	background-color: #fff;
}

.sidenav .collapsible-body li a,
.sidenav.fixed .collapsible-body li a {
	padding: 0 23.5px 0 31px;
}

.collapsible.popout {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.collapsible.popout > li {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
		0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	margin: 0 24px;
	-webkit-transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.collapsible.popout > li.active {
	-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
		0 4px 15px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	margin: 16px 0;
}

.DrawerToggle {
	width: 40px;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
	padding: 10px 0;
	box-sizing: border-box;
	cursor: pointer;
}

.DrawerToggle div {
	width: 90%;
	height: 3px;
	background-color: white;
}
.backdrop {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
