.App {
  min-height: 100vh;
  font-size: calc(6px + 2vmin);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav-link {
  display: inline-block;
  padding: 4px 15px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 550px;
  min-height: 250px;
  background-color: #ffffff;
  padding: 35px;
  box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 4px 4px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding-bottom: 15px;
}
.control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  min-width: 550px;
  min-height: 1px;
  font-size: 16px;
}
.input {
  display: block;
  width: 100%;
  height: 35px;
  font-size: 16px;
}
.label {
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.62);
}
.modal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  height: auto;
  padding: 25px 40px;
  margin: 0;
  position: absolute;
  top: 11%;
  z-index: 10000;
  background-color: white;
  color: rgba(0, 0, 0, 0.84);
  box-shadow: 10px 14px 20px 9px rgba(0, 0, 0, 0.2);
}
.backdrop {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  bottom: -895px;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.is-danger {
  color: red;
}
.submit {
  cursor: pointer;
}

.control > p {
  display: inline-block;
  margin-top: 3px;
}
