.App {
  min-height: 100vh;
  font-size: calc(6px + 2vmin);
}
/* Header */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  padding: 15px;
  margin: 0 0 30px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.58);
  letter-spacing: 3px;
  font-size: 14px;
}

/* navigation bar */
.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav-link {
  display: inline-block;
  height: 40px;
  padding: 6px 25px;
  cursor: pointer;
}
.nav-link:hover {
  color: rgba(0, 0, 0, 0.92);
}
.nav-right {
  display: inline-block;
  height: 40px;
  padding: 6px 25px;
  cursor: pointer;
  margin-right: 20px;
}
.nav-right:hover {
  color: rgba(0, 0, 0, 0.92);
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.72);
}
a:hover {
  color: rgba(0, 0, 0, 0.92);
}

.content {
  display: block;
  min-width: 1px;
  min-height: 1px;
  padding: 0;
  margin: 60px 0 0 0;
}

/* card */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 1px;
  height: auto;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  color: rgba(0, 0, 0, 0.74);
  padding: 35px;
}

/* Modal */
.modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  min-width: 1px;
  height: auto;
  top: 11%;
  z-index: 10000;
  background-color: transparent;
}

.backdrop {
  display: block;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  cursor: pointer;
}

/* Reg-form*/
.reg-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reg-page > h1 {
  text-transform: uppercase;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.48);
}
.reg-form,
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 500px;
  height: auto;
}
.form-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  margin-bottom: 18px;
  width: 100%;
}
.submit-btn {
  display: block;
  line-height: 20px;
  padding: 4px 10px;
  margin-top: 15px;
  width: 100%;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.72);
  cursor: pointer;
  text-transform: uppercase;
}
input {
  display: block;
  line-height: 20px;
  padding: 4px 10px;
  width: 100%;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.72);
}
.error {
  border: 1px solid #ff8495;
}
.is-danger {
  margin-top: -3px;
  color: red;
}

/* Home Page*/
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-title {
  color: rgba(0, 0, 0, 0.48);
  letter-spacing: 10px;
  text-transform: uppercase;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 650px;
  height: auto;
}
.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin-bottom: 25px;
}
.search-btn {
  display: inline-block;
  line-height: 20px;
  padding: 4px 20px;
  letter-spacing: 6px;
  cursor: pointer;
}

.search-result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 0;
  margin: 0;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px;
  margin: 0;
}
.item {
  display: block;
  padding: 7px 0px;
  margin: 0;
}

.item-title {
  display: inline-block;
  padding-right: 15px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.58);
}

/* Blog */
.blog,
.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.blog {
  padding: 15px;
}
.section-title {
  padding-left: 6px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.48);
}
.collections {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.collection {
  display: block;
  width: 250px;
  height: 360px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 15px 6px;
  padding: 10px;
  position: relative;
}
img,
.img {
  display: block;
  width: 228px;
  height: 310px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px;
}
.name {
  display: inline-block;
}
.price {
  display: inline-block;
}
.buy-now {
  display: block;
  width: 250px;
  height: 360px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.buy-now:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.38);
}
.add-to-cart-btn {
  display: inline-block;
  position: absolute;
  top: 265px;
  right: 45px;
  padding: 6px 20px;
  border: 2px solid rgb(95, 93, 93);
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
  color: #f5f0f0;
  background-color: transparent;
}
.add-to-cart-btn:hover {
  border: 2px solid white;
}
/* Cart */
.cart-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 460px;
  top: 0;
  right: 110px;
  z-index: 2;
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.cart {
  position: absolute;
  width: 100%;
  height: 75%;
  margin: 58px 0 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  overflow: auto;
}
.cart-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;

  margin: 0 15px;
}
.cart-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 77px;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.cart-img {
  display: block;
  width: 20%;
  height: 100%;
}
.cart-img > img {
  display: block;
  width: 75px;
  height: 75px;
  padding: 6px 6px 6px 0;
}
.cart-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 100%;
  padding-left: 15px;
  font-size: 14px;
  letter-spacing: 2px;
}
.cart-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 100%;
}
.cart-footer {
  display: block;
  position: absolute;
  bottom: 0;
}
.cart-btn {
  display: block;
  width: 350px;
  height: 56px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.48);
}
.cart-btn:hover {
  color: rgba(0, 0, 0, 0.68);
}

/* checkout page */
.checkout-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.58);
  font-size: 14px;
  letter-spacing: 2px;
}
.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 850px;
  height: auto;
  margin: 0;
  padding: 0;
}
.checkout-header {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0;
  margin: 0 0 2px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.38);
  text-transform: uppercase;
}
.header-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 0;
  margin: 0;
  text-align: center;
}
.list-item {
  width: 100%;
  height: 100%;
  padding: 6px 15px;
}
.photo {
  display: block;
  width: 15%;
}
.photo > img {
  height: 74px;
  padding: 6px 6px 6px 0;
}
.name {
  display: block;
  width: 40%;
}
.quantity {
  display: block;
  width: 20%;
}
.price {
  display: block;
  width: 10%;
}
.remove {
  display: block;
  width: 15%;
}
.checkout-content {
  display: block;
  width: 100%;
  height: 85px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.content-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 85px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.p-15 {
  padding: 0 15px;
}
