.Modal {
	position: fixed;
	z-index: 200;
	border: 1px solid #eee;
	box-shadow: 0 2px 2px #ccc;
	background-color: white;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
	top: 30%;
	left: 25%;
	width: 50%;
	transition: all 1s ease-out;
}

.ModalOpen {
	animation: openModal 1s ease-out forwards;
}

.ModalClosed {
	animation: closeModal 1s ease-out forwards;
}

/* CSS Animation */
@keyframes openModal {
	0% {
		opacity: 0;
		transition: translateY(-100%);
	}
	50% {
		opacity: 1;
		transition: translateY(90%);
	}
	100% {
		opacity: 1;
		transition: translateY(0);
	}
}

@keyframes closeModal {
	0% {
		opacity: 1;
		transition: translateY(0);
	}
	50% {
		opacity: 0.8;
		transition: translateY(60%);
	}
	100% {
		opacity: 0;
		transition: translateY(-100%);
	}
}
