.toggle-button{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.toggle-button__line{
  width: 24px;
  height: 2px;
  background: white;

}
.toggle-button:focus{
  outline: none;
}