body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 65px;
  height: 65px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 65px;
}
.square.highlight {
  background: #ffeb3b;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}
.status {
  display: inline-block;
  padding-right: 30px;
  font-size: 32px;
}
.status-win {
  display: inline-block;
  padding-right: 30px;
  font-size: 32px;
  color: green;
}
.status-draw {
  display: inline-block;
  padding-right: 30px;
  font-size: 32px;
  color: #ff9800;
}
.sort {
  display: inline;
}
button {
  display: inline-block;
}
li {
  list-style: none;
}
.game-info {
  margin-left: 40px;
}
.move-list {
  display: block;
  margin-bottom: 4px;
  padding: 4px;
}
.move-list-item-selected {
  display: block;
  font-weight: bold;
}
.move {
  display: block;
  width: 250px;
  height: auto;
  margin: 10px;
}
.position {
  display: inline-block;
  padding: 0 15px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.74);
}
.active {
  font-weight: 600;
}
.high-light {
  background-color: bisque;
}
