body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.square.highlight {
  background: rgb(243, 239, 6);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}
.status {
  display: inline;
  padding-right: 30px;
}
.sort {
  display: inline;
}
button {
  display: inline-block;
}
.game-info {
  margin-left: 40px;
}
.position {
  display: inline-block;
  padding: 0 15px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.74);
}
.active {
  font-weight: 600;
}
.high-light {
  background-color: bisque;
}
