.section-search input {
	padding: 5px !important;
	font-size: 18px !important;
	width: 90% !important;
	border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x {
	margin: 5px 10px;
}

nav .brand-logo i {
	float: none;
}

@media only screen and (max-width: 600px) {
	.material-placeholder {
		margin-bottom: 15px !important;
	}
}
