body {
  font-family: "Roboto", Roboto Condensed, sans-serif;
  font-weight: 300;
  height: 1050px;
  background-color: hsla(0 0% 0.96%, 0.29);
}
.test{
  display: block;
  position: relative;
  margin-top: 70px;

}
 a{
   color: #000;
   transition: all 0.2s ease-in-out;
   opacity: 0.8;
 }
 a:hover {
  color: #000;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  opacity: 1;
}
.desktop{
  display: none;
}

.navbar{
  padding: 0 .6rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.84rem;
  font-weight: 300;
  color: #333;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar .nav-item .nav-link {
  display: block;
  padding: 0.7rem 0.6rem;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color: #fff;
  -webkit-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
  opacity: 0.8;
 
}
.navbar-toggler {
  font-size: 1rem;
  opacity: 0.4;
  padding: 0.6rem 0.88rem;
}
.navbar .navbar-toggler {
  outline: 0;
  border-width: 0;
  margin-right: 1.2rem;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 0.6rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.9374rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar .navbar-brand {
  color: red;
  
}
.navbar-brand .logo {
  margin-right: 0.110rem;
  font-size: 1rem;
}

.dropdown-menu {
  font-size: 0.9rem;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.11rem;
  -webkit-box-shadow: 8px -2px 15px 5px rgba(0,0,0,.15);
  box-shadow: 5px -1px 15px 5px rgba(0,0,0,.15)
}
.navbar .dropdown-menu a {
  padding: 10px;
  font-size: 0.9375rem;
  font-weight: 300;
  color: #6f6f6f !important;
}
.light{
  background-color: #fff;
  

}
.input-group.md-form.form-sm.form-2 input.amber-border  {
  border: 1px solid #ffca28;
}
.md-form input[type=text]{
  border: 1px solid #ced4da;
  color: #333;
  font-size: 0.9375rem;
  font-weight: 400;
  border-radius: 0.111rem;
  background-color: #fff;
  -webkit-box-shadow: inset 4px -1px 9px 1px #d8dcdc;
  box-shadow: inset 4px -1px 9px 1px #d8dcdc;
}
.md-form input[type=text]:focus:not([readonly]){
  border: 1px solid #bbbec7;
  background-color: #fff;
  border-top: 1px solid #1766f7;
  border-right: 1px solid #1766f7;
  border-bottom: 1px solid #1766f7;
  border-left: 1px solid #1766f7;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: 0.35s;
}
.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.1;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: .110rem;
}
.md-form.input-group .form-control {
  margin: 0;
  padding: 0.125rem 0.75rem;
}
.md-form.input-group .input-group-text {
  transition: 0.35s;
  background-color: #f1f0f0;
  
}
.md-form.input-group .input-group-text:hover {
  transition: 0.35s;
  background-color: #bfbfcc;
  
}
.input-group-append {
  margin-left: -1px;
  cursor: pointer;
}
.search-icon{
  padding: 0 0.7rem;
}


.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  width: 100%;
}
.list-group-item {
  position: relative;
  display: block;
  padding: .25rem 1.9rem;
  margin-bottom: 0;
  background-color: #e6e6e6;
  border: none;
  cursor: pointer;
}
.list-group-item:hover{
  background-color: #dedddd;
}
.list-group .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.list-group-item.active {
  z-index: 2;
  color: #000;
  font-size: 1rem;
  background-color: #cacaca;
  border-color: none;
}
.appDrawer{
  position: fixed;
  display: flex;
  top: 55px;
  width: 240px;
  height: 1050px;
  color: #313131;
  background-color: #e6e6e6;
  padding: 10px 0px;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 0.870rem;
  z-index: 2005;

}
.Open{
  visibility: visible;
}

.Close{
  visibility: hidden;
}
.appDrawer-icon{
  display: inline;
  margin-right: 30px;
  font-size: 1rem;
  color: hsl(0, 0%, 53.3%);
}
.appDrawer-icon.active{
  color: red;
  font-size: 1.2rem;
}

.arrow-left{
  display: inline-block;
  cursor: pointer;
  opacity: 0.6;
}
.search-sm .form-control{
  line-height: 1rem;
  font-size: 0.8rem;
  border-radius: 0.110rem;
}

.search-sm .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.01rem rgba(0,123,255,.10);
  box-shadow: 0 0 0 0.01rem rgba(0,123,255,.10);
}


@media (min-width: 768px){
  .navbar.scrolling-navbar {
      -webkit-transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
      -o-transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
      transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .navbar{
    padding: 0.2rem 1.2rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8rem;
  }
  .navbar .nav-item .nav-link {
    display: block;
    padding: 0.9rem 0.7rem;
  }
  .navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1rem;
    line-height: inherit;
    white-space: nowrap;
  }
  .form-2{
    width: 300px;
    opacity: 0.96;
  }
  .desktop{
    display: block;
  }
}
@media (min-width: 992px){
  .form-2{
    width: 550px;
    opacity: 0.96;
  }
}