.test{
  min-height: 1800px;
  margin: 70px auto;
}

.desktop{
  display: none;
}

/* Navbar */
.navbar {
  padding: 0.6rem 0.6rem;
  justify-content: space-evenly;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar.navbar-light .navbar-nav .nav-item .nav-link{
  color: #717574;
}
.navbar .nav-item .nav-link {
  display: block;
  margin-top: 0;
}

.nav-link {
  display: block;
  padding: 0.6rem 1rem;
}
.navbar.navbar-light .nav-item.active > .nav-link, .navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1rem;
      padding-left: 1rem;
  }
  .navbar {
    padding: 0.6rem 1.5rem;
    justify-content: space-evenly;
  }
  .desktop{
    display: block;
  }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .desktop{
    display: block;
  }
  
 }

 /* Small devices (landscape phones, 600px and up) */
@media (min-width: 600px){
  .navbar {
    padding: 0.6rem 1.5rem;
    justify-content: space-evenly;
  }
  .navbar.scrolling-navbar {
      -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
      -o-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
      transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
      padding-top: 8px;
      padding-bottom: 8px;
  }
  .navbar.scrolling-navbar.top-nav-collapse{
    padding-top: 0;
    padding-bottom: 0;
  }
  .md-form {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    width:80%;
    
  }
  .form-control {
    line-height: 1.5;
  }
  .mobile{
    display: none;
  }
 
}


.dropdown-menu{
  border-radius: 0;
  -webkit-box-shadow: 3px 2px 9px 5px #f1f2f5;
  box-shadow: 3px 2px 9px 5px #f1f2f5;
}

.input-group>.form-control {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.input-group.md-form.form-sm.form-1 input{
  border: 1px solid #bdbdbd;
  /* border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; */
  -webkit-box-shadow: inset 0px 0px 10px 0px #bdbdbd;
  box-shadow: inset 0px 0px 10px 0px #bdbdbd;
}
.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.md-form input[type=text]:focus:not([readonly]){
  -webkit-box-shadow: inset -1px 0px 5px 0px #cad7ec;
  box-shadow: inset -1px 0px 5px 0px #cad7ec;
  border: 1px solid  #9cbdf3;  
}

.input-group-text{
  color: #a9a9a9;
  padding: .375rem 1.5rem;
  border: 1px solid #d3d3d3;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}

.md-form.input-group .input-group-text:hover{
  background-color: #bdbdbd;
  color: #060606;
  border-color: #c6c6c6;
  border: 1px solid #d3d3d3;
  border-radius: 0 2px 2px 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.10);
  cursor: pointer;
}

.md-form {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;

}

.form-control {
  line-height: 1.1;
}
/* custom */
.left-arrow{
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
  opacity: 0.5;
}

.justify-content-around {
  -ms-flex-pack: distribute!important;
  justify-content: flex-end!important;
}