@import "../../index.scss";
.tourList {
  width: 70vw;
  margin: 0 auto;
  padding: 2rem 0;
}

@media screen and (min-width: 768px) {
  .tourList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .tourList {
    width: 85vw;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1140px) {
  .tourList {
    grid-template-columns: repeat(4, 1fr);
  }
}
