.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-left {
  font-size: 18px;
  letter-spacing: 3px;
  color: #000;
}
.hire-me {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 6px;
  color: rgb(204, 12, 204);
}
