.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab_btn {
  display: block;
  flex: 1;
  padding: 8px 20px;
  background: #eee;
  border: 0;
}

.tab_indicator_container {
  display: flex;
  background: #eee;
  margin-bottom: 10px;
}

.tab_indicator {
  height: 3px;
  background: #007bff;
  transition: transform 0.2s;
}

.tab_content {
  padding: 10px;
}
