* {
  box-sizing: border-box;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0 20px;
  background-color: teal;
  color: #f1f1ff;
  line-height: 60px;
  font-size: 17px;
}
.header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0 20px;
  background-color: teal;
  color: #f1f1ff;
  line-height: 60px;
  font-size: 17px;
}

li {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: grey;
  padding: 6px 15px;
}
span {
  display: inline-block;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.64);
  padding: 3px 6px;
}
.header a {
  color: inherit;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  width: 500px;
}
form {
  width: 100%;
}
input {
  width: 100%;
}
button {
  display: inline-block;
  padding: 4px 15px;
  cursor: pointer;
}
.search-form form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search-form input {
  width: 80%;
  padding: 4px 15px;
}
.search-btn button {
  width: 18%;
  padding: 4px 15px;
}
