.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header,
ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0 20px;
  background-color: teal;
  color: #f1f1ff;
  line-height: 60px;
  font-size: 17px;
}

li {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: grey;
  padding: 6px 15px;
}
.header a {
  color: inherit;
}
