* {
  box-sizing: border-box;
}

form {
  width: 100%;
}
form input[type="text"] {
  display: block;
  width: 100%;
  line-height: 20px;
  padding: 4px 10px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.app,
.content,
.modal-wrapper,
.modal,
.card,
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  background-color: teal;
  padding: 25px;
  color: #f1f1f1;
}
.search-nav {
  display: flex;
  width: 600px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button {
  display: inline-block;
  min-height: 1px;
  padding: 4px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 5px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

li {
  display: block;
  min-height: 1px;
  padding-bottom: 15px;
}

li > span {
  display: inline-block;
  min-height: 1px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.64);
  padding-right: 10px;
}
.btn {
  display: inline-block;
  line-height: 20px;
  padding: 6px 15px;
  font-size: 20px;
  cursor: pointer;
}

.reg-btn {
  background-color: transparent;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
}

.modal {
  position: fixed;
  top: 20%;
  min-width: 1;
  min-height: 1;
  max-width: auto;
  max-height: auto;
  -webkit-z-index: 10000;
  -moz-z-index: 10000;
  -ms-z-index: 10000;
  -o-z-index: 10000;
  z-index: 10000;
}
.backdrop {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: -2000px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-z-index: 10;
  -moz-z-index: 10;
  -ms-z-index: 10;
  -o-z-index: 10;
  z-index: 10;
  cursor: pointer;
}
.card {
  min-width: 250px;
  max-width: auto;
  min-height: 250px;
  max-height: auto;
  padding: 15px;
  margin: 5px;
  background-color: white;
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}
.card-header {
  display: block;
  text-align: center;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.64);
}
.card-footer {
  display: block;
  text-align: center;
}
.reg-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 450px;
  padding: 15px;
}
.error {
  color: red;
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
label {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.64);
}
p {
  display: block;
  padding: 4px;
  margin: 4px;
}

.shop-cart-text {
  display: inline-block;
  margin-left: 3px;
}
.product {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 260px;
  height: 260px;
}
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
table {
  margin-bottom: 20px;
}
table,
th,
td {
  border: 1px solid #ddd;
  border-collapse: collapse;
}
th {
  padding: 10px;
  color: rgba(0, 0, 0, 0.64);
}
th,
td {
  text-align: left;
}
thead {
  background-color: #ddd;
}
thead,
th {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
}
tr > td {
  padding: 5px 10px;
  text-align: left;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
tfoot {
  width: 100%;
  font-weight: 700;
  color: #ff8b13;
}

.shopping-cart {
  display: block;
  position: absolute;
  top: 76px;
  right: 0px;
  z-index: 100;
}
table > caption {
  padding: 10px 15px;
  font-size: 22px;
  color: #f1f1f1;
  font-weight: 700;
  margin-bottom: 15px;
  background-color: #ff8b13;
}

.fas.fa-times {
  color: rgba(0, 0, 0, 0.4);
}
