* {
  box-sizing: border-box;
}

form {
  width: 100%;
}
form input[type="text"] {
  display: block;
  width: 100%;
  line-height: 20px;
  padding: 4px 10px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.app,
.content,
.modal-wrapper,
.modal,
.card,
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: teal;
  padding: 25px;
}
.search-nav {
  display: flex;
  width: 600px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button {
  display: inline-block;
  min-height: 1px;
  padding: 4px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 20px;
  font-size: 16px;
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

li {
  display: block;
  min-height: 1px;
  padding-bottom: 15px;
}

li > span {
  display: inline-block;
  min-height: 1px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.64);
  padding-right: 10px;
}
.reg-btn {
  background-color: transparent;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
}

.modal {
  position: fixed;
  top: 20%;
  min-width: 1;
  min-height: 1;
  max-width: auto;
  max-height: auto;
  -webkit-z-index: 10000;
  -moz-z-index: 10000;
  -ms-z-index: 10000;
  -o-z-index: 10000;
  z-index: 10000;
}
.backdrop {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: -2000px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-z-index: 10;
  -moz-z-index: 10;
  -ms-z-index: 10;
  -o-z-index: 10;
  z-index: 10;
  cursor: pointer;
}
.card {
  width: 500px;
  padding: 25px;
  background-color: white;
  box-shadow: 6px 17px 12px 12px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.card-header {
  display: block;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.64);
}
.reg-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 450px;
}
.error {
  color: red;
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
p {
  display: block;
  padding: 4px;
  margin: 4px;
}
