* {
  box-sizing: border-box;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 25px 15px;
  background-color: teal;
}
.search {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: center;
  align-items: center;
}
form {
  width: 100%;
}
form input[type="text"] {
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.14);
  line-height: 20px;
  font-size: 16px;
  padding: 3px 10px;
  box-shadow: none;
}
.search-form {
  display: flex;
  flex-direction: row;
}
button {
  display: inline-block;
  min-height: 1px;
  padding: 6px 15px;
  cursor: pointer;
}
.reg-btn {
  background-color: transparent;
  color: #f1f1ff;
  border: 1px solid #f1f1f1;
  padding: 8px 20px;
}
.btn {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.74);
  border: 1px solid teal;
  padding: 8px 20px;
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal {
  display: flex;
  position: fixed;
  top: 100px;
  min-height: 1px;
  min-width: 1px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  background-color: transparent;
}
.backdrop {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: -300px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  cursor: pointer;
}
.card {
  display: flex;
  /* padding: 25px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 10px 16px 35px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}
.reg-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 370px;
}
.form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding-bottom: 15px;
}
label {
  display: block;
  font-weight: 500;
  color: grey;
}

.card-header {
  display: block;
  min-height: 1px;
  text-align: center;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.44);
}
.card-footer {
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
  min-height: 1px;
  width: 100%;
  color: #f1f1f1;
  text-align: center;
  background-color: teal;
}

.card-body {
  display: block;
  min-height: 1px;
  width: 100%;
  padding: 25px;
}
