.header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 1px solid #d2cece;
  background-color: #333;
  a {
    color: #ffffff;
  }

  .logo-container {
    height: 100%;
    width: 60px;
    padding: 0 25px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
@media only screen and (max-width: 600px) {
  .header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;

    .logo-container {
      height: 100%;
      width: 60px;
      padding: 15px;
    }

    .options {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .option {
        padding: 10px 12px;
        cursor: pointer;
      }
    }
  }
}
