.collection-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
    letter-spacing: 10px;
    text-transform: uppercase;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    &.collection-item {
      margin-bottom: 30px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .collection-page {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .title {
      font-size: 22px;
      margin: 0;
    }

    .items {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;

      &.collection-item {
        margin-bottom: 30px;
      }
    }
  }
}
