.backdrop{
  transition: all 0.35s ease-out;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 65;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

@media(min-width: 769px) {
  .backdrop{
    transition: all 0.35s ease-out;
    position: fixed;
    width: 256px;
    height: 100%;
    top: 65;
    left: 0;
    background:transparent;
    z-index: 100;
  }
}