.footer {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: -30px;
  background-color: #333333;
}
.footer-left > h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  color: rgb(44, 43, 43);
}
.hire-me {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 6px;
  color: rgb(204, 12, 204);
}
.source-code {
  color: rgb(44, 43, 43);
}
@media only screen and (max-width: 600px) {
  .footer {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
  }
}
