.footer {
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  color: #ffffff;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h6 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.footer-left,
.footer-right,
.source-code,
.hire-me {
  padding: 0px 15px;
}
.footer-left > h6 {
  font-size: 10px;
  color: #ffffff;
  font-weight: 300;
}
.hire-me > h6 {
  font-size: 10px;
  letter-spacing: 10px;
  font-weight: 500;
}
.source-code {
  font-size: 10px;
  color: #ffffff;
  font-weight: 300;
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  .footer {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hire-me {
    padding: 6px 0px;
  }
  .footer-left {
    padding: 15px 0px;
  }
}
