body {
	background-color: #eee;
}

nav {
	padding: 0px 20px;
}

nav a {
	color: rgba(0, 0, 0, 0.87) !important;
}

nav ul a:hover {
	background-color: #fff;
	color: #ff6d00 !important;
}
.brand-logo {
	color: #ff6d00 !important;
}

i.left {
	margin-right: 3px;
}
