body {
	background-color: #f2f3f7;
}

a {
	color: #615c5c;
}

nav {
	padding: 0px 20px;
}

nav a {
	color: rgba(0, 0, 0, 0.87) !important;
}

nav ul a:hover {
	background-color: #fff;
	color: #ff6d00 !important;
}
.brand-logo {
	color: red !important;
}
.search-bar {
	display: block;
	position: relative;
	max-width: 100%;
	overflow: hidden;
	margin: 0 55px;
}

nav .input-field {
	margin: 11px auto;
	height: 35px;
	width: 660px;
}
nav .input-field input[type='text']:valid {
	margin: 0 10px;
	line-height: 18px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.nav-wrapper .input-field input[type='search'] {
	height: inherit;
	padding-left: 10px;
	width: 89%;
	border: 1px solid #eee;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.input-field input[type='search']:focus:not(.browser-default) {
	background-color: #fff;
	border: 1px solid #a7dad0;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #444;
}

nav .input-field label {
	top: 0;
	left: auto;
}
.input-field > label {
	background-color: red;
	width: 14%;
	color: #9e9e9e;
	height: 53px;
	position: absolute;
	top: 0;
	right: -64px;
	margin: 14px auto;
	margin-top: 14px;
	margin-right: 26px;
	margin-bottom: 14px;
	font-size: 1rem;
	cursor: text;
	-webkit-transition: color 0.2s ease-out, -webkit-transform 0.2s ease-out;
	transition: color 0.2s ease-out, -webkit-transform 0.2s ease-out;
	transition: transform 0.2s ease-out, color 0.2s ease-out;
	transition: transform 0.2s ease-out, color 0.2s ease-out,
		-webkit-transform 0.2s ease-out;
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	text-align: center;
	-webkit-transform: translateY(12px);
	transform: translateY(12px);
}
.search-icon {
	display: block;
	min-height: 1px;
	padding-bottom: 10px;
}

.clear-fix {
	content: ' ';
	display: table;
	clear: both;
}
.row {
	margin-bottom: 0px;
}
.row .col {
	float: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 0.4rem;
	min-height: 1px;
}
i.left {
	margin-right: 3px;
}
.content {
	display: block;
	min-height: 1px;
	background-color: transparent;
	padding-top: 0px;
	padding-right: 18px;
	padding-bottom: 18px;
	padding-left: 18px;
}
.promotion {
	background-color: #fff;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	border: 1px solid rgb(224, 224, 224);
}
.promotion h5 {
	color: #333;
}

.panel {
	background-color: #fff;
	margin-top: -20px;
}

.collection {
	border: none;
	margin: 0px;
}

.collection.with-header .collection-header {
	padding-top: 0px !important;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 2px !important;
}
.collection .collection-item {
	padding: 10px 10px 10px 2px !important;
	cursor: pointer;
}

.collection .collection-item a:hover {
	color: #ff6d00 !important;
}
.popular {
	display: block;
}
.popular-list {
	display: list-item;
	height: 115px;
	border-bottom: 1px solid #eee;
}
.popular .popular-list img {
	height: 50px;
	width: 50px;
}

.side-header {
	display: inline-block;
	padding: 5px 30px;
	font-weight: 400;
	color: white;
}
.popular-title {
	margin: 5px 0 14px 0;
	color: #717175;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	cursor: pointer;
}
.view-more {
	display: inline-block;
	background: #22447a;
	padding: 2px 10px;
	color: #fff;
	border-radius: 15px;
	font-size: 12px;
	cursor: pointer;
}
.bullet:before {
	content: '\25CF';
	margin-right: 12px;
	color: #80767685;
	/* font-size: 10px; */
	font-size: inherit;
}
.container {
	width: 90%;
}

.next,
.prev {
	position: absolute;
	top: 35%;
	color: white;
	cursor: pointer;
	z-index: 100;
	opacity: 0;
}
.next:hover {
	opacity: 1;
}
.prev:hover {
	opacity: 1;
}
.prev {
	left: 0px;
}
.next {
	right: 0px;
}
.md-36 {
	font-size: 36px;
}
.slider .indicators {
	bottom: 10px;
}

.slider .indicators .indicator-item {
	height: 10px;
	width: 10px;
	margin: 0 8px;
}
.slider .indicators .indicator-item.active {
	border: 2px solid #ff6d00;
	padding: 4px;
	background-color: #fff !important;
}

.banner {
	margin-top: -18px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
.recomendation {
	display: block;
	min-height: 1px;
	margin: 0px auto;
}
.md-36 {
	font-size: 1.64rem;
}
.recomendation-header {
	width: 100%;
	height: 52px;
	overflow: hidden;
}
.recomendation-header h5 {
	float: left;
	margin-right: 20px;
	font-size: 24px;
	color: #333;
	line-height: 52px;
	font-weight: 700;
	padding-left: 10px;
	text-transform: Uppercase;
}
.recomendation-header2 h5 {
	float: left;
	margin-right: 20px;
	font-size: 24px;
	color: #333;
	line-height: 52px;
	font-weight: 700;
	padding-left: 2px;
	text-transform: Uppercase;
}
.header-line {
	display: block;
	margin-top: 40px;
	font-size: 100%;
	border: 3px solid #dcdee3;
	border-radius: 3px;
	overflow: hidden;
	margin-right: 10px;
}
span {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.main-content {
	display: block;
	background-color: transparent;
	min-height: 1px;
	margin-top: 0;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	cursor: pointer;
}
.card.horizontal .card-image {
	max-width: 40%;
}

.card.horizontal .card-image img {
	border-radius: 2px 0 0 2px;
	max-width: 100%;
	width: auto;
}

.card .card-image img {
	display: block;
	border-radius: 2px 2px 0 0;
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	max-width: 100%;
}
.image-content {
	display: block;
	background-color: transparent;
	position: absolute;
	color: #fff;
	min-height: 1px;
	top: 10%;
	left: 2%;
	width: 50%;
}
.image-content h5 {
	font-weight: 700;
}
.image-content span {
	border: 1px solid #eee;
	padding: 5px;
	cursor: pointer;
}

.card .card-stacked img {
	display: block;
	border-radius: 2px 2px 0 0;
	position: relative;
	left: 80px;
	right: 40px;
	top: 60px;
	bottom: 0px;
	width: 50%;
}
.card.horizontal .card-stacked .card-content {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	border-bottom: 1px solid #eee;
}

.card.horizontal .card-stacked-image {
	width: 50%;
}
.card.horizontal .card-stacked {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
	border-right: 1px solid #eee;
}

/* Quotes */
.quotes {
	display: block;
	min-height: 1px;
	position: relative;
	width: 100%;
	cursor: pointer;
}
.quotes-content {
	display: block;
	background-color: transparent;
	position: absolute;
	min-height: 1px;
	top: 10%;
	left: 5%;
	width: 75%;
}
.quotes-content .quotes-header {
	font-size: 36px;
	text-transform: uppercase;
	color: #fbfeff;
}
.quotes-content h6 {
	font-size: 18px;
	color: #333;
	font-weight: 500;
}
.quotes-section {
	display: block;
	width: 100%;
	min-height: 1px;
	padding: 0 10px;
	border: 7px solid #ccc;
	color: #333;
}

.quotes-section h4 p {
	color: #444;
}

.quotes-section p {
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 2px;
	color: #999;
}
.quotes-section span {
	display: inline-block;
	font-size: 12px;
	background-color: #fff;
	margin: 0 2px 20px 0;
	padding-left: 6px;
	padding-right: 6px;
	border: 1px solid #999;
	border-radius: 7px;
}

.quotes-section span:hover {
	background-color: #eee;
}

.quotes-section h4 {
	font-weight: bold;
}
.quantity {
	padding-left: 0;
}

input[type='search']:not(.browser-default),
textarea.materialize-textarea {
	background-color: transparent;
	border: none;
	border: 1px solid #9e9e9e;
	border-radius: 0;
	outline: none;
	height: 3rem;
	width: 100%;
	font-size: 16px;
	margin: 0 0 8px 0;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
	transition: border 0.3s, -webkit-box-shadow 0.3s;
	transition: box-shadow 0.3s, border 0.3s;
	transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
}
input:not([type]),
input[type='text']:not(.browser-default),
input[type='password']:not(.browser-default),
input[type='email']:not(.browser-default),
input[type='url']:not(.browser-default),
input[type='time']:not(.browser-default),
input[type='date']:not(.browser-default),
input[type='datetime']:not(.browser-default),
input[type='datetime-local']:not(.browser-default),
input[type='tel']:not(.browser-default),
input[type='number']:not(.browser-default),
input[type='search']:not(.browser-default),
textarea.materialize-textarea {
	background-color: #fff;
	border: none;
	border: 1px solid #9e9e9e;
	border-radius: 0;
	outline: none;
	height: 2rem;
	width: 99%;
	font-size: 14px;
	margin: 0;
	padding: 3px 6px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
	transition: border 0.3s, -webkit-box-shadow 0.3s;
	transition: box-shadow 0.3s, border 0.3s;
	transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
}
input:not([type]):focus:not([readonly]),
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='url']:not(.browser-default):focus:not([readonly]),
input[type='time']:not(.browser-default):focus:not([readonly]),
input[type='date']:not(.browser-default):focus:not([readonly]),
input[type='datetime']:not(.browser-default):focus:not([readonly]),
input[type='datetime-local']:not(.browser-default):focus:not([readonly]),
input[type='tel']:not(.browser-default):focus:not([readonly]),
input[type='number']:not(.browser-default):focus:not([readonly]),
input[type='search']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border: 1px solid #26a69a;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.page-footer {
	padding-top: 20px;
	color: #fff;
	background-color: #607d8b;
	margin-top: 150px;
}

@media only screen and (min-width: 993px) .container {
	width: 90%;
}
