.toolbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #444;
  height: 65px;
}

.toolbar__navigation{
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}
.toolbar__logo{
  margin-left: 1.5rem;
}
.toolbar__logo a{
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
.spacer{
  flex: 1;
}
.toolbar_navigation-items ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.toolbar_navigation-items li{
  padding: 0 0.5rem;
}

.toolbar_navigation-items a{
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active{
  color: red;
}