.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: #ca2b70;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  &.google-sign-in {
    background-color: #4285f4;
    color: white;
    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }
  &.inverted {
    background-color: #ca2b70;
    color: black;
    border: 1px solid black;
    &:hover {
      background-color: #f13b8a;
      color: white;
      border: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .google-sign-in {
    margin-top: 15px;
  }
}
